<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="search city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/hot.jpg" *ngIf="weatherData.columns.temp">
    <img src="../assets/cold.jpg" *ngIf="weatherData.columns.temp">
    <div class="weather-data">
      <div class="location">{{weatherData.locations}}</div>
      <div class="temperature">{{ weatherData.columns.temp }}°C</div> <!--| number: '1.0-0'-->
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.jpg">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.columns.mint}}°C <!--| number: '1.0-0'-->
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/hot.png">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.columns.maxt}}°C <!--| number: '1.0-0'-->
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.jpg">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.columns.humidity}}% <!--| number: '1.0-0'-->
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpeg">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.columns.wspd}}km/h <!--| number: '1.0-0'-->
        </div>
      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>